# Entorno virtual
.venv/
venv/

# Caché de Python
__pycache__/
*.py[cod]

# Configuración de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env

# Cobertura de tests
.coverage
htmlcov/

# Distribución
build/
dist/
*.egg-info/

# Logs
logs/*
!logs/.gitkeep